*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --primary:#a64aff;
    --accent-100:#fff;
    --accent-200:#ebebeb;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100: rgba(0, 0, 0, .5);
    --bg-200:#292929;
    --bg-300:#4d4d4d;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    background: var(--bg-200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(30px);
    transition: all .2s;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.loader-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: var(--bg-100);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader::after {
    content: "Loading audios";
    font-size: 6rem;
    color: var(--text-100);
    animation: animateLoading 3s ease infinite;
}

@keyframes animateLoading {
    0%{content: "Loading audios"; color: #a64aff;}
    25%{content: "Loading audios."; color: aqua;}
    50%{content: "Loading audios.."; color: blue;}
    75%{content: "Loading audios..."; color: brown;}
    100%{content: "Loading audios"; color: #a64aff;}
}

#main {
    position: relative;
    max-width: 50rem;
    width: 50rem;
    max-height: 75rem;
    background: var(--bg-100);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    overflow-y: hidden;
}
header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    .menu-icon {
        visibility: hidden;
    }
}
header svg {
    fill: var(--accent-200);
    height: 3.5rem;
    cursor: pointer;
    transition: .2s ease;
}

header svg:hover {
    fill: var(--accent-100);
}

header h1 {
    font-size: 2.8rem;
    color: var(--text-100);
    cursor: default;
}

.thumbnail {
    max-width: 30rem;
    height: 30rem;
    margin: 0 auto;
    background: var(--bg-300);
    border-radius: 10px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-user-drag: none;
}

.audioDetails {
    width: 100%;
    margin-top: 2rem;
    padding: 0 2rem;
    text-align: center;
    h2.song-title {
        font-size: 2.4rem;
        color: var(--text-100);
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    p.song-artist {
        font-size: 1.6rem;
        color: var(--text-200);
        font-weight: 500;
        user-select: none;
        -webkit-user-select: none;
    }
}

.progress {
    width: 40rem;
    margin: 4rem auto;
}
.progress div {
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--text-200);
    font-size: 1.5rem;
    user-select: none;
}

input#progress-bar {
    position: relative;
    -webkit-user-drag: none;
    -webkit-appearance: none;
    user-select: none;
    -webkit-user-select: none;
    appearance: none;
    width: 100%;
    height: .6rem;
    background: var(--bg-300);
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
input#progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress-width, 0%);
    transition: 0ms;
    background: #fff;
    z-index: 2;
}
#progress-bar::-webkit-slider-thumb {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-appearance: none;
    background: var(--accent-100);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.controls {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.controls svg {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}


.playpause {
    z-index: 1;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s ease;
}
.playpause svg {
    margin: 0;
    width: 5rem;
    height: 5rem;
}
.play, .pause {
    display: none;
}
.controls svg {
    fill: var(--accent-200);
    transition: .3s ease;
}
.controls svg:hover {
    fill: var(--accent-100);
}

.playpause .active {
    display: block;
}

.album-page.active {
    display: block;
    right: 0;
    animation: animateIn .4s ease;
}

@keyframes animateIn {
    0% {display: none; right: -100%;}
    80% {display: block; right: 0;}
}
@keyframes animateOut {
    0% {display: block; right: 0;}
    100% {display: none; right: -100%;}
}
::-webkit-scrollbar {
    display: none;
    appearance: none;
}
.album-page {
    right: -100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: none;
    min-height: 60rem;
    max-height: 85%;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(15px);
    animation: animateOut .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.album-page div {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 3.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: 5% 40% 40% 15%;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.album-page div p {
    color: var(--text-200);
    font-size: 1.5rem;
    font-weight: 600;
}

#songs {
    width: 100%;
}
.song {
    height: fit-content !important;
    padding: .8rem 0;
    display: grid;
    grid-template-columns: 5% 40% 40% 15%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    list-style: none;
    width: 100%;
    height: 5rem;
    color: var(--text-200);
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: .3 all ease;
}

.song:hover {
    background: rgba(0, 0, 0, .1);
}

.song.playing {
    border-radius: 5px;
    border: 1px solid var(--primary);
    background: rgba(130, 47, 255, 0.1);
}

.music-title {
    .title {
        color: var(--text-100);
        font-size: 1.5rem;
    }
    .artist {
        color: var(--accent-100);
        font-size: 1.2rem;
    }
} 

@media only screen and (max-width: 600px) {
    html {
        font-size: 7px;
    }
}